<main class="main">
    <app-header></app-header>
  
    <section class="page-content">
        <div class="sidebar !tw-w-[300px] tw-overflow-y-scroll">
            <div class="tw-flex tw-pt-3.5 tw-pr-5 tw-pl-2.5 tw-gap-1.5 tw-mb-6">

                <svg class="tw-w-5 tw-h-5 tw-stroke-primary-500" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3 12H21M7 16L3 12L7 16ZM3 12L7 8L3 12Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            
                <a href="#" class="tw-uppercase tw-font-medium tw-text-base tw-text-primary-500 tw-whitespace-nowrap">Retour à l'agenda</a>
            
            </div>

            <p class="!tw-m-0 tw-text-center tw-font-bold tw-text-xl !tw-mb-4">Mohamed <br> Belaiouer</p>

            <div class="side-item" [routerLink]="'/consultation/infos'" routerLinkActive="active">
                <span class="text">Infos</span>
            </div>
            <div class="side-item" [routerLink]="'/consultation/historique'" routerLinkActive="active">
                <span class="text">Historique</span>
            </div>
            <div class="side-item" [routerLink]="'/consultation/documents'" routerLinkActive="active">
                <span class="text">Documents</span>
            </div>

            <div class="tw-white tw-rounded-2xl tw-bg-secondary tw-border-b tw-border-secondary tw-max-h-fit">
    
              <div class="tw-p-3">
                <div class="tw-pr-0">
                    <p class="!tw-m-0 tw-text-white tw-text-base tw-font-bold tw-text-center tw-pl-4">Antécédent</p>
                </div>
              </div>
    
              <div class="tw-p-5 tw-flex tw-flex-col tw-gap-4 tw-rounded-bl-2xl tw-rounded-br-2xl tw-border tw-border-secondary tw-bg-white">

                <div class="">
                  <h4 class="tw-text-sm !tw-m-0 tw-font-medium !tw-mb-2">Allergie</h4>
                  <ul class="tw-flex tw-flex-col tw-gap-1 !tw-m-0 !tw-p-0 !tw-ml-2">
                    <li class="">
                        <div class="tw-flex tw-items-center tw-gap-1">
                            <span>
                                <svg class="tw-w-1 tw-h-1" viewBox="0 0 5 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="2.5" cy="2.5" r="2.5" fill="black"/>
                                </svg>
                            </span>
                            <p class="tw-text-sm md:tw-mt-6 tw-mt-4 tw-text-tertiary !tw-m-0">Ceftrazone</p>
                        </div>
                    </li>
                    <li class="">
                        <div class="tw-flex tw-items-center tw-gap-1">
                            <span>
                                <svg class="tw-w-1 tw-h-1" viewBox="0 0 5 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="2.5" cy="2.5" r="2.5" fill="black"/>
                                </svg>
                            </span>
                            <p class="tw-text-sm md:tw-mt-6 tw-mt-4 tw-text-tertiary !tw-m-0">Pollen</p>
                        </div>
                    </li>
                  </ul>
                </div>

                <div class="">
                  <h4 class="tw-text-sm !tw-m-0 tw-font-medium !tw-mb-2">Chirurgie</h4>
                  <ul class="tw-flex tw-flex-col tw-gap-1 !tw-m-0 !tw-p-0 !tw-ml-2">
                    <li class="">
                        <div class="tw-flex tw-items-center tw-gap-1">
                            <span>
                                <svg class="tw-w-1 tw-h-1" viewBox="0 0 5 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="2.5" cy="2.5" r="2.5" fill="black"/>
                                </svg>
                            </span>
                            <p class="tw-text-sm md:tw-mt-6 tw-mt-4 tw-text-tertiary !tw-m-0">Vasectomie</p>
                        </div>
                    </li>
                  </ul>
                </div>

              </div>
    
            </div>

        </div>
  
      <div class="content-wrap !tw-pl-[300px]">
        <div class="next-page">
          <router-outlet></router-outlet>
        </div>
      </div>
    </section>
  
    <app-tabs></app-tabs>
  </main>