<header class="app-header">
  <div class="container">
    <div class="header">
      <div class="nav-brand">
        <img class="logo" routerLink="/home" height="30" src="assets/logo.png" alt="logo">
      </div>
      <div class="nav-content">
        <!-- <div class="link">
          <a class="" routerLink="/home">Accueil</a>
        </div> -->
        <!-- <div class="link">
          <a class="" routerLink="/account/rendez-vous">Mes rendez-vous</a>
        </div> -->
        <div class="link">
          <button class="btn btn-primary" routerLink="/prendre-rendez-vous">Prendre RDV</button>
        </div>
        <div class="link">
          <button class="btn btn-primary" routerLink="/auth/login">Se connecter</button>
        </div>
        <div class="link">
          <button class="btn btn-secondary" routerLink="/home">Vous êtes praticien ?</button>
        </div>
        <div class="link">
          <a class="text-secondary" routerLink="/account">
            <i class="mdi mdi-account-circle"></i>
            johndoe@mail.com
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
