@import "/src/scss/bootstrap/config";

.app-header {
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: .75rem 0;
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav-brand {

      .logo {
        height: 40px;
        cursor: pointer;
      }
    }

    .nav-content {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .link {
        margin: 0 .5rem;
        font-weight: 500;

        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: 0;
        }

        .user-nav {
          display: flex;
          align-items: center;

          .username {
            display: flex;
            flex-direction: column;
            line-height: 1rem;
            margin-right: .5rem;

            .name {
              font-size: 18px;
              font-weight: 700;
            }
            .role {
              font-size: 13px;
              font-weight: 300;
            }
          }

          .user-logo {
            display: flex;
            justify-content: center;
            align-items: center;

            i {
              font-size: 44px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .nav-brand {
    display: none;
  }
}
