<header class="app-header">
  <div class="container">
    <div class="header">
      <div class="nav-brand">
        <img class="logo" routerLink="/home" height="30" src="assets/logo.png" alt="logo">
        <span class="">
          <span class="target">PRO</span>
        </span>
      </div>
      <div class="nav-content">
        <!-- <div class="link">
          <a class="" routerLink="/home">Accueil</a>
        </div> -->
        <!-- <div class="link">
          <a class="" routerLink="/account/rendez-vous">Mes rendez-vous</a>
        </div> -->
        <div class="link">
          <button class="btn btn-primary" routerLink="/prendre-rendez-vous">Prendre RDV</button>
        </div>
        <div class="link">
          <button class="btn btn-primary" routerLink="/auth/login">Se connecter</button>
        </div>
        <div class="link">
          <button class="btn btn-secondary" routerLink="/home">Vous êtes praticien ?</button>
        </div>
        <div class="link">
          <a class="text-secondary user-nav" routerLink="/account/agenda">
            <span class="username">
              <span class="name">Dr Ramzi Laib</span>
              <span class="role">Médecin généraliste</span>
            </span>
            <span class="user-logo">
              <i class="mdi mdi-account-circle"></i>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
