@import "/src/scss/bootstrap/config";

.card {
  border: 0;
  border-radius: 20px;
  box-shadow: $box-shadow;
  margin-bottom: .5rem;

  h6 {
    font-weight: 700;
  }
}

.back {
  i {
    font-size: 26px;
  }
}

.img-profile {
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 50%;

  img {
    width: 100%;
    height: auto;
  }
}

.chips {
  display: flex;
  flex-wrap: wrap;

  .chip {
    background-color: #F0F0F0;
    padding: 10px;
    border-radius: 4px;
    margin: .25rem;
    cursor: pointer;
  }
}

.choose-date {
  position: relative;
  padding: .5rem 1rem;

  .slide-left {
    position: absolute;
    top: 1.5rem;
    left: .25rem;

    i { font-size: 26px; }
  }
  .slide-right {
    position: absolute;
    top: 1.5rem;
    right: .25rem;

    i { font-size: 26px; }
  }

  .content-scroll-x {
    display: flex;

    .item {
      display: flex;
      flex-direction: column;
      margin: .5rem;
      flex: 1;

      .item-head {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
        padding: .25rem;
      }

      .item-time {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
        padding: .25rem;
        background-color: #D4F4FE;
        margin-bottom: .5rem;
        cursor: pointer;
      }
    }
  }
}

.accordion {
  .chip {
    background-color: #D4F4FE;
  }
}

button {
  &.with-icon {
    display: flex;
    align-items: center;

    i.mdi {
      font-size: 24px;
      color: $primary;
      margin-right: .75rem;
    }
  }
}
