// .carousel-item{
//     display:flex;
// }
#indicator
{
  height: 1rem;
   width: 1rem;
}

.img-carousel{
  height: 300px;
}

.carousel-indicators
{
  top:365px;
}
@media (max-width: 575.98px) {
  .carousel-indicators
  {
    display: none;
  }
  .img-carousel{
    display: none;
  }

 }
