@import "/src/scss/bootstrap/config";

.hour{
  background-color:#D4F4FE;
}
.doctor:hover{
  box-shadow: $box-shadow;
}

@media (max-width: 768px) {

  .category{
    overflow-x: scroll;
  }
  .doctor{
    display: flex;
    flex-direction: column;
    align-items: center;
    .profil{
      display: flex;
      width: 100% !important;
      padding-left: 1rem !important;
      padding-top: 1rem !important;
      padding-right: 1rem;
    }
    .text-profil{
      padding-left: 1rem;
      .name-doctor{
        font-weight: bold;
        color: $primary;
      }
    }
    .address{
      border: none !important ;
      width: 100% !important;
      display: flex;
      justify-content: start;
      align-items: start;
      // border-bottom:  9px solid black ;
      // padding-bottom: 0.5rem !important;
      padding: 0 0 0.5rem 0 !important;
      .city{
        display: flex;
        padding-left: 1rem;
        .mdi{
         font-size: 1rem;
        }

      }
    }
    .appointement{
      width: 100% !important;
      font-size: 0.6rem;
      .appointement-day{
      width: 100% !important;
      }
      padding-bottom: 1rem;
    }
  }

 }
