.point{
  height: 0.5rem;
   width: 0.5rem;
   border-radius: 20%;
}
.pourcentage{
  font-size: 2rem;
}
.light-bleu{
  background-color: #E8f7f2;
  // margin-right: 2rem   ; 
}
.hour{
  background-color:#D4F4FE;
}
.colone{
  height: 2.5rem;
  padding: 0;
}
.periode{
  font-size: 0.8rem;
}