
<app-setting title="Remplaçants">
    <div class="container">
      <div class="m-3 " >
        <div class="row">
          <div class="col-6 d-flex justify-content-start">
            <button class="btn btn-secondary w-50 d-flex justify-content-around align-items-center" [routerLink]="'/settings/substitutes/new-substitute'"  >
              <i class="fs-4 mdi mdi-plus-circle "></i>
              AJOUTER UN Remplaçant
            </button>
          </div>
          <div class="col-6 d-flex justify-content-end">
            <div class="search text-muted fs-6 w-75 rounded-pill d-flex align-items-center ps-3 py-1 ">
              <span class=" fs-4 mdi mdi-magnify"></span>
              <input type="text" class="form-control border-0  " id="password" placeholder="Prénom, nom de famille ou email du remplaçant">
            </div>
          </div>
        </div>
        <div class="row my-3 ">
          <table class="table  ">
            <thead class="bg-primary text-white " >
              <tr>
                <th scope="col">Nom</th>
                <th scope="col">Prénom</th>
                <th scope="col">email</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let a of [1,2,4]" >
                <!-- <th scope="row">1</th> -->
                <td  >Dr Mohamed</td>
                <td>Nathan</td>
                <td>ramzilaib@tabiblib.fr</td>
                <td>Remplaçant</td>
                <td class="d-flex justify-content-between fs-4"  >
                  <span class="mdi mdi-square-edit-outline " ></span>
                  <span class="mdi mdi-trash-can-outline text-danger " ></span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row g-4 pb-3 ">
          <div class="elmt-paginate border rounded me-1 text-muted ">
            <span class=" mdi mdi-chevron-left round me-1" ></span>
          </div>
          <div class="elmt-paginate border rounded me-1 bg-primary text-white ">
            <span>1</span>
          </div>
          <div class="elmt-paginate  border rounded me-1">
            <span>2</span>
          </div>
          <div class="elmt-paginate border rounded me-1">
            <span class=" mdi mdi-chevron-right " ></span>
          </div>
        </div>
      </div>
    </div>
    </app-setting>
