<div class="tw-p-5 tw-space-y-10">

  <div class="tw-border-b tw-border-[#6F7781]">
    <nav aria-label="breadcrumb">
      <ol class="tw-py-5 tw-flex tw-space-x-2.5 tw-pl-0 tw-mb-0">
        <li class="tw-text-base tw-flex tw-items-center tw-font-bold">
          <a class="tw-no-underline" [routerLink]="'/consultation/documents'">documents</a>
        </li>
        <li class="tw-text-base tw-flex tw-items-center tw-font-bold">
          <svg class="tw-w-5 tw-h-5 tw-text-black" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7.52092 5.25L11.4792 9L7.52091 12.75" stroke="#868AA5" stroke-width="1.2" stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
          <p class="tw-ml-2.5 !tw-m-0 tw-no-underline tw-capitalize">Mohamed</p>
        </li>
      </ol>
    </nav>
  </div>

  <div class="tw-bg-white tw-rounded-xl">

    <!-- Tabs -->
    <app-dashboard-tabs [tabs]="tabs"></app-dashboard-tabs>

    <router-outlet></router-outlet>

  </div>

</div>