<footer class="app-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="start">
          <div class="brand">
            <!-- <div class="bg-white">
            </div> -->
            <img class="logo" src="assets/logo-white.png" alt="logo">
            <div class="fw-bold mt-4 tw-text-black">
              Suivez nous
            </div>
            <div class="social-icons d-flex mt-0">
              <a href="" class="icon">
                <i class="mdi mdi-facebook"></i>
              </a>
              <a href="" class="icon">
                <i class="mdi mdi-instagram"></i>
              </a>
              <a href="" class="icon">
                <i class="mdi mdi-linkedin"></i>
              </a>
            </div>
          </div>
          <div>
            <p>
              <label class="fw-bold tw-text-black">Contactez nous :</label>
              support@tabiblibdz.com
            </p>
          </div>

          <div>
            <p>
              <label class="fw-bold tw-text-black">Numéro de téléphone :</label>
              <label> xxx-xxx-xx</label>
            </p>
          </div>

          <div>
            <p>
              <label class="tw-text-black fw-bold">Siège social de Tabiblib :</label>
              <label>Coopérative El Amal 3, villa nº34 Dely Ibrahim 16320 Alger , Algerie</label>
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4"></div>

      <div class="col-md-4">
        <div class="text-end d-flex flex-column">
          <a href="" class="">FAQ</a>
          <a href="" class="">Mentions légales</a>
          <a href="" class="">CGU</a>
          <a href="" class="">Politique de confidentialité</a>
          <a href="" class="">Cookies</a>
        </div>
      </div>
    </div>
  </div>
</footer>