<footer class="app-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="start">
          <div class="brand">
            <!-- <div class="bg-white">
            </div> -->
            <img class="logo" src="assets/logo-white.png" alt="logo">

            <div class="social-icons d-flex mt-4">
              <a href="" class="icon">
                <i class="mdi mdi-facebook"></i>
              </a>
              <a href="" class="icon">
                <i class="mdi mdi-instagram"></i>
              </a>
              <a href="" class="icon">
                <i class="mdi mdi-linkedin"></i>
              </a>
            </div>
          </div>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            sapiente dolorem rerum quidem aperiam sed cumque deleniti dignissimos temporibus magni?
          </p>
        </div>
      </div>

      <div class="col-md-4"></div>

      <div class="col-md-4">
        <div class="text-end d-flex flex-column">
          <a href="" class="">FAQ</a>
          <a href="" class="">Mentions légales</a>
          <a href="" class="">CGU</a>
          <a href="" class="">Politique de confidentialité</a>
          <a href="" class="">Cookies</a>
        </div>
      </div>
    </div>
  </div>
</footer>
