<div class="md:tw-pl-5">

  <!-- <app-dashboard-tabs class="tw-mb-3 tw-mt-4 tw-z-[998] tw-relative" [tabs]="tabs"></app-dashboard-tabs> -->

  <div class="tw-mb-3 tw-mt-4 tw-z-[998] tw-relative">
    <div class="tw-flex tw-justify-between tw-pr-5 tw-pt-5">
      <div class="tw-border-b tw-border-gray-200">
        <nav class="-tw-mb-px tw-flex tw-space-x-8" aria-label="Tabs">
          <a *ngFor="let tab of tabs" [routerLink]="tab.link" routerLinkActive="active" class="tw-border-transparent tw-no-underline tw-text-tertiary hover:tw-border-gray-300 tw-whitespace-nowrap tw-px-1 tw-border-b-2 tw-font-semibold tw-text-lg">{{tab.name}}</a>
        </nav>
      </div>
    </div>
  </div>

  <router-outlet></router-outlet>
   
</div>