@import "/src/scss/bootstrap/config";

.bx-icon {
  // display: flex;
  // justify-content: center;
  // align-items: center;

  i {
    font-size: 20px;
  }
}

.paginator {
  display: flex;
  justify-content: center;
  align-items: center;

  .item {
    padding: .25rem .5rem;
    margin: 0 .3rem;
    border: 1px solid #CCC;
    cursor: pointer;

    &.current, &:hover {
      cursor: inherit;
      background-color: $light;
      font-weight: 700;
    }
    &:hover {
      cursor: pointer;
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.user-avatar {
  height: 45px;
  width: 45px;
  flex-basis: 45px;
  border-radius: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .7);
  position: relative;
  color: #FFF;

  .status {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    height: 10px;
    width: 10px;
    background-color: $success;
    border-radius: 50%;
  }

  &.circle {
    border-radius: 50%;
  }

  &.md {
    height: 50px;
    width: 50px;
    flex-basis: 50px;
  }

  &.sm {
    height: 35px;
    width: 35px;
    flex-basis: 35px;
  }

  &.xs {
    height: 25px;
    width: 25px;
    flex-basis: 25px;
  }
  &.xl {
    height: 65px;
    width: 65px;
    flex-basis: 65px;
  }

  img {
    width: 100%;
    height: auto;
  }
}

.user-avatar-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: #FFF;

  &.separate {
    .avatar-item {
      margin-left: .5rem;
    }
  }

  &.square {
    .avatar-item {
      border-radius: 0;
    }
  }

  &.sm {
    .avatar-item {
      height: 25px;
      width: 25px;
      margin-left: -10px;
    }
  }

  .avatar-item {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary;
    font-size: 14px;
    margin-left: -16px;
    box-shadow: $box-shadow;

    &:first-child {
      margin-left: 0;
    }

    img {
      width: 100%;
      height: auto;
    }
  }
}

.form-container {
  display: flex;
  align-items: center;
  background-color: #FFF;
  margin-bottom: .5rem;
  // padding-left: 1rem;

  .label {
    margin-right: .5rem;
  }

  .form-control, .form-select {
    border-top: 0;
    border-left: 0;
    border-right: 0;

    padding-left: 0;
    padding-right: 0;

    &:focus {
      border-color: $tertiary;
      box-shadow: 0px 1px $tertiary;
    }
  }
}

.chips {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  .chip {
    margin: .25rem;
    padding: .15rem .75rem;
    background-color: rgba($primary, .1);
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;

    &:first-child {
      margin-left: 0;
    }

    .remove {
      margin-left: .5rem;
      font-size: 22px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .add {
    margin-left: .25rem;

    .icon {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $primary;

      .bx {
        font-size: 1.8rem;
      }
    }

    .dropdown-menu {
      padding: 0;
      border: 0;
      box-shadow: $box-shadow;

      .dropdown-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}

.tl-1, .text-line-1, .tl-2, .text-line-2, .tl-3, .text-line-3 {
  overflow: hidden;
  line-height: 1em;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.tl-1, .text-line-1 {
  height: 1em;
  -webkit-line-clamp: 1;
}
.tl-2, .text-line-2 {
  height: 2em;
  -webkit-line-clamp: 2;
}
.tl-3, .text-line-3 {
  height: 3em;
  -webkit-line-clamp: 3;
}

.bg-primary-light {
  background-color: rgba($primary, .1);
}

.alerts {
  position: fixed;
  right: 2rem;
  bottom: 1rem;

  display: flex;
  flex-direction: column;

  .alert {
    margin-top: .5rem;
    box-shadow: $box-shadow;
    background-color: $light;
    border-color: $light;
    padding: 1rem;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      color: $primary;
      font-weight: 600;
      margin-bottom: .5rem;

      .btn-close {
        cursor: pointer;
      }
    }

    .body {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 13px;

      .message {
        flex: 1;
        margin-right: .5rem;
      }
    }
  }
}

// .form-group, .form-floating {
//   display: flex;
//   flex-direction: column;
//   margin-bottom: .5rem;
//   position: relative;

//   label {
//     font-weight: 600;
//     padding-left: 0;
//     padding-right: 0;
//   }

//   .form-control, .form-select {
//     border-top: 0;
//     border-left: 0;
//     border-right: 0;

//     padding-left: 0;
//     padding-right: 0;

//     &:focus {
//       border-color: $tertiary;
//       box-shadow: 0px 1px $tertiary;
//     }
//   }
// }

.bx-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: .5px;
  text-decoration: none;

  &.circle {
    border-radius: 50%;
    padding: .5rem;
  }

  &.md {
    padding: .75rem;
  }

  &.square {
    padding: .5rem;
    border-radius: 3px;
  }
}

.box-color {
  height: 40px;
  width: 40px;
  box-shadow: $box-shadow;
  background-color: #FFF;
  border-radius: 50%;
}

.radio-check {
  position: absolute;
  color: #FFF;
  z-index: 1;
  background-color: rgba(#000, .1);
  border-radius: 50%;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  overflow: hidden;
  visibility: hidden;
}

.input-bg-color:checked + label .radio-check {
  visibility: visible;
}

.vl {
  width: 2px;
  height: 100%;
  content: '.';
  background-color: #AAA;
  color: #AAA;
  margin: 0 .25rem;
}



.content {
  display: flex;
  height: 100%;
  box-shadow: $box-shadow;
  margin: .25rem .5rem;

  .side {
    flex: 1.2;
    height: 100%;
    overflow: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: $box-shadow;

    .header {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 50px;
      // background-color: #FFF;
      color: $primary;

      .text-icon {
        display: flex;
        align-items: center;
        font-size: 18px;
        height: 100%;
        padding: .5rem;
        padding-left: 25px;

        i {
          font-size: 1.3rem;
        }
      }
    }

    .body {
      display: flex;
      flex-direction: column;
      padding: 50px 0 35px 0;
      overflow-y: auto;

      .link {
        display: flex;
        justify-content: space-between;
        border-left: 5px solid transparent;
        padding-right: 1rem;

        &.active {
          background-color: #FFF;
          border-left-color: $primary;

          .bx-icon {
            color: $primary;
          }

          .text {
            font-weight: 600;
          }
        }

        .link-item {
          display: flex;
          align-items: center;
          padding: .5rem 1rem;
          cursor: pointer;

          .bx-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 1rem;

            i {
              font-size: 1.2rem;
            }
          }

          .text {
            font-weight: 500;
          }
        }

        .link-badge {
          display: flex;
          align-items: center;
          justify-content: center;

          .badge {
            background-color: $tertiary;
            border-radius: 10px;
            color: #FFF;
            font-weight: 500;
            padding: .25rem 1rem;
          }
        }
      }

      .link-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .25rem 1.5rem;
        margin-top: 1rem;

        .title {
          font-size: 21px;
          font-weight: 700;
        }

        .add-btn {
          .btn {
            border-radius: 15px;
            padding: .25rem .75rem;
            font-weight: 600;
          }
        }
      }
    }

    .footer {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: $primary;
      color: #FFF;
      text-align: center;
      cursor: pointer;
      height: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .inbox {
    flex: 1.5;

    height: 100%;
    overflow: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: $box-shadow;
    background-color: #FFF;

    .header {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 75px;
      background-color: #FFF;
      color: $primary;
      padding: 0 1rem;
      z-index: 1;

      .form-group {
        flex: 1;
      }
    }

    .body {
      display: flex;
      flex-direction: column;
      padding: 75px .75rem 1rem .75rem;
      overflow-y: auto;

      .message {
        display: flex;
        justify-content: space-between;
        border-left: 5px solid transparent;
        padding: 1rem .5rem;
        box-shadow: $box-shadow;
        margin: .25rem 0;
        cursor: pointer;

        &.active {
          background-color: #FFF;
          border-left-color: $primary;
        }

        .user-avatar {
          margin-right: .75rem;
        }

        .message-content {
          flex: 1;
          display: flex;
          flex-direction: column;

          .head {
            display: flex;
            justify-content: space-between;
            padding-top: .25rem;

            .left {
              display: flex;
              flex-direction: column;
              font-size: 12px;
              margin-right: .5rem;

              .username {
                font-weight: 700;
                margin-bottom: .25rem;
              }

              .subject {
                font-size: 12px;
                font-weight: 600;
              }
            }

            .right {
              display: flex;
              flex-direction: column;
              font-size: 10px;

              .date {
                font-weight: 500;
              }

              .file {
                text-align: end;
                color: $primary;
              }
            }
          }

          .user-message {
            margin-top: .5rem;
          }
        }
      }
    }
  }

  .message-preview {
    flex: 3;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .text {
      font-size: 24px;
      font-weight: 400;
    }

    .opened-message {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      // padding: 1rem;

      .header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        padding: 0 1rem;
        background-color: #FFF;
        z-index: 1;

        .left {
          display: flex;
          align-items: center;
          justify-content: flex-start;

          .bx-icon {
            cursor: pointer;
            margin: 0 .5rem;

            &:first-child {
              margin-left: 0;
            }

            .bx {
              font-size: 1.75rem;
            }
          }
        }

        .right {
          display: flex;
          align-items: center;
          justify-content: flex-end;

          .total {
            font-size: 18px;
            font-weight: 700;
            margin-right: .5rem;
          }

          .bx-icon {
            cursor: pointer;

            .bx {
              font-size: 1.75rem;
            }
          }
        }

      }

      .body {
        padding: 80px 1rem;
        height: 100%;
        overflow-y: auto;
        padding-bottom: 1rem;

        .message {
          display: flex;
          justify-content: space-between;

          .user-avatar {
            margin-right: .75rem;
          }

          .message-content {
            flex: 1;
            display: flex;
            flex-direction: column;

            .head {
              display: flex;
              justify-content: space-between;
              padding-top: .25rem;

              .left {
                display: flex;
                flex-direction: column;
                // font-size: 12px;
                margin-right: .5rem;
                line-height: 1.1rem;

                .username {
                  font-weight: 700;
                  margin-bottom: .25rem;
                }

                .subject {
                  font-size: 14px;
                  font-weight: 600;
                }

                .email {
                  font-size: 12px;
                  font-weight: 600;
                }
              }

              .right {
                display: flex;
                flex-direction: column;
                font-size: 13px;

                .date {
                  font-weight: 500;
                }
              }
            }

            .user-message {
              margin-top: 1rem;

              .gallery {
                display: flex;
                flex-wrap: wrap;

                .item {
                  height: 120px;
                  flex-grow: 1;
                  list-style: none;
                  padding: .5rem;
                  overflow: hidden;
                  padding-left: 0;

                  img {
                    max-height: 100%;
                    min-width: 100%;
                    object-fit: cover;
                    vertical-align: bottom;
                    transition: all 0.5s;
                    border-radius: 0px;
                    cursor: pointer;

                    &:hover {
                      filter: blur(0px);
                      opacity: 1;
                      transform: scale(1.02);
                      transition: all 0.5s;
                    }
                  }
                }
              }

              .download {
                margin-top: 1rem;
                display: flex;
                align-items: center;

                .btn {
                  margin-right: 1rem;
                }
              }
            }

            .reply {
              margin-top: 1rem;

              .form-group {
                flex: 1;
                position: relative;

                .form-control {
                  background-color: transparent;
                }

                .icons {
                  position: absolute;
                  top: 50%;
                  transform: translateY(-50%);
                  right: 1rem;

                  display: flex;

                  .bx {
                    font-size: 1.3rem;
                  }
                }
              }
            }
          }
        }
      }
    }

    .new-message {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 1rem;
      right: 0;

      .header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        background-color: #FFF;
        padding: .5rem;
      }

      .body {
        padding: 50px 1rem 50px 0;
        overflow: auto;
        height: 100%;

        .files {
          display: flex;
          flex-direction: column;

          .file {
            margin: .075rem 0;
            padding: .5rem;
            border: 1px solid #DDD;
            background-color: #FFF;
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
        }
      }

      .footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        height: 50px;
        background-color: #FFF;
        padding: .5rem;
      }
    }
  }
}
