
<div class="content">
  <div class="loader" *ngIf="isLoading">
    <div class="head">
      <span class="bx-icon">
        <i class="bx bx-tada-hover bxs-comment-detail"></i>
      </span>
      <span>Messages</span>
    </div>

    <div class="text">
      Chargement
    </div>
    <div class="spinner-border" role="status"></div>
  </div>


  <div class="side">
    <div class="header">
      <div class="text-icon">
        <span class="bx-icon">
          <i class="bx bx-tada-hover bxs-comment-detail"></i>
        </span>
        <span class="ms-2">Messages</span>
      </div>
    </div>

    <div class="body">
      <div class="link active">
        <div class="link-item">
          <span class="bx-icon">
            <i class="bx bx-tada-hover bxs-envelope"></i>
          </span>
          <span class="text">Boite</span>
        </div>
        <div class="link-badge">
          <span class="badge">9</span>
        </div>
      </div>

      <div class="link">
        <div class="link-item">
          <span class="bx-icon">
            <i class="bx bx-tada-hover bx-star"></i>
          </span>
          <span class="text">Épinglé</span>
        </div>
      </div>

      <div class="link">
        <div class="link-item">
          <span class="bx-icon">
            <i class="bx bx-tada-hover bxs-send"></i>
          </span>
          <span class="text">Envoyé</span>
        </div>
      </div>

      <div class="link">
        <div class="link-item">
          <span class="bx-icon">
            <i class="bx bx-tada-hover bx-trash"></i>
          </span>
          <span class="text">Corbeille</span>
        </div>
      </div>

      <div class="link">
        <div class="link-item">
          <span class="bx-icon">
            <i class="bx bx-tada-hover bxs-grid-alt"></i>
          </span>
          <span class="text">Plus</span>
        </div>
      </div>

      <div class="link-header">
        <span class="title">
          Dossiers
        </span>
        <span class="add-btn">
          <button class="btn btn-sm btn-info">Ajouter</button>
        </span>
      </div>

      <div class="link">
        <div class="link-item">
          <span class="bx-icon text-blue">
            <i class="mdi mdi-folder-open-outline text-blue"></i>
          </span>
          <span class="text">Bureau</span>
        </div>
      </div>

      <div class="link">
        <div class="link-item">
          <span class="bx-icon text-pink">
            <i class="mdi mdi-folder-open-outline"></i>
          </span>
          <span class="text">Personnel</span>
        </div>
      </div>

      <div class="link">
        <div class="link-item">
          <span class="bx-icon text-yellow">
            <i class="mdi mdi-folder-open-outline"></i>
          </span>
          <span class="text">Département</span>
        </div>
      </div>
    </div>

    <div class="footer" (click)="createMessage()">
      Nouveau Message
    </div>
  </div>

  <div class="inbox">
    <div class="header">
      <div class="form-group">
        <input type="search" class="form-control" placeholder="Chercher...">
      </div>
    </div>

    <div class="body">
      <div class="message" (click)="openMessage()">
        <div class="user-avatar sm circle">
          <img src="/assets/img/user.jpg">
        </div>
        <div class="message-content">
          <div class="head">
            <div class="left">
              <span class="username text-line-1">John Doe</span>
              <span class="subject text-line-1">Res. Génie Civile</span>
            </div>

            <div class="right">
              <span class="date">Aujourd'hui 08:00</span>
              <span class="file">
                <i class="bx bx-tada-hover bx-file"></i>
                4 fichiers joints
              </span>
            </div>
          </div>
          <div class="user-message text-line-1">
            Stop wasting time.
          </div>
        </div>
      </div>

      <div class="message" (click)="openMessage()">
        <div class="user-avatar sm circle">
          <img src="/assets/img/user1.jpg">
        </div>
        <div class="message-content">
          <div class="head">
            <div class="left">
              <span class="username text-line-1">John Doe</span>
              <span class="subject text-line-1">Invitation</span>
            </div>

            <div class="right">
              <span class="date">Hier 01:45</span>
            </div>
          </div>
          <div class="user-message text-line-1">
            It's always a pleasure to
          </div>
        </div>
      </div>
      <div class="message" (click)="openMessage()">
        <div class="user-avatar sm circle">
          <img src="/assets/img/user1.jpg">
        </div>
        <div class="message-content">
          <div class="head">
            <div class="left">
              <span class="username text-line-1">John Doe</span>
              <span class="subject text-line-1">Invitation</span>
            </div>

            <div class="right">
              <span class="date">Hier 01:45</span>
            </div>
          </div>
          <div class="user-message text-line-1">
            It's always a pleasure to
          </div>
        </div>
      </div>
      <div class="message" (click)="openMessage()">
        <div class="user-avatar sm circle">
          <img src="/assets/img/user1.jpg">
        </div>
        <div class="message-content">
          <div class="head">
            <div class="left">
              <span class="username text-line-1">John Doe</span>
              <span class="subject text-line-1">Invitation</span>
            </div>

            <div class="right">
              <span class="date">Hier 01:45</span>
            </div>
          </div>
          <div class="user-message text-line-1">
            It's always a pleasure to
          </div>
        </div>
      </div>
      <div class="message" (click)="openMessage()">
        <div class="user-avatar sm circle">
          <img src="/assets/img/user1.jpg">
        </div>
        <div class="message-content">
          <div class="head">
            <div class="left">
              <span class="username text-line-1">John Doe</span>
              <span class="subject text-line-1">Invitation</span>
            </div>

            <div class="right">
              <span class="date">Hier 01:45</span>
            </div>
          </div>
          <div class="user-message text-line-1">
            It's always a pleasure to
          </div>
        </div>
      </div>
      <div class="message" (click)="openMessage()">
        <div class="user-avatar sm circle">
          <img src="/assets/img/user1.jpg">
        </div>
        <div class="message-content">
          <div class="head">
            <div class="left">
              <span class="username text-line-1">John Doe</span>
              <span class="subject text-line-1">Invitation</span>
            </div>

            <div class="right">
              <span class="date">Hier 01:45</span>
            </div>
          </div>
          <div class="user-message text-line-1">
            It's always a pleasure to
          </div>
        </div>
      </div>
      <div class="message" (click)="openMessage()">
        <div class="user-avatar sm circle">
          <img src="/assets/img/user1.jpg">
        </div>
        <div class="message-content">
          <div class="head">
            <div class="left">
              <span class="username text-line-1">John Doe</span>
              <span class="subject text-line-1">Invitation</span>
            </div>

            <div class="right">
              <span class="date">Hier 01:45</span>
            </div>
          </div>
          <div class="user-message text-line-1">
            It's always a pleasure to
          </div>
        </div>
      </div>
      <div class="message" (click)="openMessage()">
        <div class="user-avatar sm circle">
          <img src="/assets/img/user1.jpg">
        </div>
        <div class="message-content">
          <div class="head">
            <div class="left">
              <span class="username text-line-1">John Doe</span>
              <span class="subject text-line-1">Invitation</span>
            </div>

            <div class="right">
              <span class="date">Hier 01:45</span>
            </div>
          </div>
          <div class="user-message text-line-1">
            It's always a pleasure to
          </div>
        </div>
      </div>
      <div class="message" (click)="openMessage()">
        <div class="user-avatar sm circle">
          <img src="/assets/img/user1.jpg">
        </div>
        <div class="message-content">
          <div class="head">
            <div class="left">
              <span class="username text-line-1">John Doe</span>
              <span class="subject text-line-1">Invitation</span>
            </div>

            <div class="right">
              <span class="date">Hier 01:45</span>
            </div>
          </div>
          <div class="user-message text-line-1">
            It's always a pleasure to
          </div>
        </div>
      </div>
      <div class="message" (click)="openMessage()">
        <div class="user-avatar sm circle">
          <img src="/assets/img/user1.jpg">
        </div>
        <div class="message-content">
          <div class="head">
            <div class="left">
              <span class="username text-line-1">John Doe</span>
              <span class="subject text-line-1">Invitation</span>
            </div>

            <div class="right">
              <span class="date">Hier 01:45</span>
            </div>
          </div>
          <div class="user-message text-line-1">
            It's always a pleasure to
          </div>
        </div>
      </div>
      <div class="message" (click)="openMessage()">
        <div class="user-avatar sm circle">
          <img src="/assets/img/user1.jpg">
        </div>
        <div class="message-content">
          <div class="head">
            <div class="left">
              <span class="username text-line-1">John Doe</span>
              <span class="subject text-line-1">Invitation</span>
            </div>

            <div class="right">
              <span class="date">Hier 01:45</span>
            </div>
          </div>
          <div class="user-message text-line-1">
            It's always a pleasure to
          </div>
        </div>
      </div>
      <div class="message" (click)="openMessage()">
        <div class="user-avatar sm circle">
          <img src="/assets/img/user1.jpg">
        </div>
        <div class="message-content">
          <div class="head">
            <div class="left">
              <span class="username text-line-1">John Doe</span>
              <span class="subject text-line-1">Invitation</span>
            </div>

            <div class="right">
              <span class="date">Hier 01:45</span>
            </div>
          </div>
          <div class="user-message text-line-1">
            It's always a pleasure to
          </div>
        </div>
      </div>
      <div class="message" (click)="openMessage()">
        <div class="user-avatar sm circle">
          <img src="/assets/img/user1.jpg">
        </div>
        <div class="message-content">
          <div class="head">
            <div class="left">
              <span class="username text-line-1">John Doe</span>
              <span class="subject text-line-1">Invitation</span>
            </div>

            <div class="right">
              <span class="date">Hier 01:45</span>
            </div>
          </div>
          <div class="user-message text-line-1">
            It's always a pleasure to
          </div>
        </div>
      </div>
      <div class="message" (click)="openMessage()">
        <div class="user-avatar sm circle">
          <img src="/assets/img/user1.jpg">
        </div>
        <div class="message-content">
          <div class="head">
            <div class="left">
              <span class="username text-line-1">John Doe</span>
              <span class="subject text-line-1">Invitation</span>
            </div>

            <div class="right">
              <span class="date">Hier 01:45</span>
            </div>
          </div>
          <div class="user-message text-line-1">
            It's always a pleasure to
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="message-preview">
    <div class="text" *ngIf="!isOpened && !isCreated">
      Sélectionnez un message s'il vous plaît
    </div>

    <div class="opened-message" *ngIf="isOpened">
      <div class="header">
        <div class="left">
          <span class="bx-icon">
            <i class="bx bx-tada-hover bxs-share"></i>
          </span>
          <span class="bx-icon">
            <i class="bx bx-tada-hover bx-reply-all"></i>
          </span>
          <span class="bx-icon">
            <i class="bx bx-tada-hover bxs-folder"></i>
          </span>
          <span class="bx-icon">
            <i class="bx bx-tada-hover bxs-trash"></i>
          </span>
        </div>

        <div class="right">
          <span class="total">
            1/180
          </span>
          <span class="bx-icon">
            <i class="bx bx-tada-hover bxs-chevron-left"></i>
          </span>
          <span class="bx-icon">
            <i class="bx bx-tada-hover bxs-chevron-right"></i>
          </span>
        </div>
      </div>

      <div class="body">
        <div class="message">
          <div class="user-avatar xl circle">
            <img src="/assets/img/user.jpg">
          </div>
          <div class="message-content">
            <div class="head">
              <div class="left">
                <span class="username">John Doe</span>
                <span class="subject">Res. Génie Civile</span>
                <span class="email text-muted">johndoe@gmail.com</span>
              </div>

              <div class="right">
                <span class="date text-muted">Aujourd'hui 08:00</span>
              </div>
            </div>

            <div class="user-message">
              <h2>Hi John,</h2>

              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Commodi omnis unde voluptas ex necessitatibus veniam delectus amet,
                animi ipsa illo facere sit vel corporis quos autem, minima expedita, praesentium vero.
              </p>

              <div class="text-primary">
                <i class="bx bx-tada-hover bx-file"></i>
                4 fichiers joints
              </div>

              <div class="gallery">
                <div class="item">
                  <img src="/assets/img/user.jpg" alt="">
                </div>
                <div class="item">
                  <img src="/assets/img/p1.jpg" alt="">
                </div>
                <div class="item">
                  <img src="/assets/img/p2.jpg" alt="">
                </div>
                <div class="item">
                  <img src="/assets/img/p3.jpg" alt="">
                </div>
                <div class="item">
                  <img src="/assets/img/p1.jpg" alt="">
                </div>
              </div>

              <div class="download">
                <a href="#" class="btn btn-outline-secondary">
                  <i class="bx bx-tada-hover bx-download"></i>
                  Télécharger
                </a>
                <span class="text text-muted">5.6 mb total</span>
              </div>
            </div>

            <div class="reply">
              <div class="form-group">
                <textarea class="form-control" rows="2" placeholder="Type Message..."></textarea>
                <div class="icons">
                  <span class="bx-icon">
                    <i class="bx bx-tada-hover bx-file"></i>
                  </span>
                  <button class="btn text-primary">
                    <i class="bx bx-tada-hover bxs-send"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="new-message" *ngIf="isCreated">
      <div class="header">
        <div class="right">
          <button class="btn btn-danger" (click)="createMessage()">
            Annuler
          </button>
        </div>
      </div>

      <div class="body">
        <div class="message">
          <div class="form-container ps-2">
            <span class="label">
              À
            </span>
            <div class="chips">
              <span class="chip" *ngFor="let item of people">
                {{ item }}
                <span class="remove" (click)="remove(item)">
                  <i class="bx bx-tada-hover bx-x"></i>
                </span>
              </span>

              <div class="dropdown add">
                <span class="icon" data-bs-toggle="dropdown">
                  <i class="bx bx-tada-hover bxs-plus-circle"></i>
                </span>
                <ul class="dropdown-menu dropdown-menu-end">
                  <li>
                    <div class="dropdown-item" *ngFor="let item of allPeople">
                      <span>{{ item }}</span>
                      <span class="bx-icon pointer" (click)="add(item)">
                        <i class="bx bx-tada-hover bx-plus"></i>
                      </span>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="form-container ps-2">
            <span class="label">
              Département
            </span>
            <div class="chips">
              <span class="chip" *ngFor="let item of people">
                {{ item }}
                <span class="remove" (click)="remove(item)">
                  <i class="bx bx-tada-hover bx-x"></i>
                </span>
              </span>

              <div class="dropdown add">
                <span class="icon" data-bs-toggle="dropdown">
                  <i class="bx bx-tada-hover bxs-plus-circle"></i>
                </span>
                <ul class="dropdown-menu dropdown-menu-end">
                  <li>
                    <div class="dropdown-item" *ngFor="let item of allPeople">
                      <span>{{ item }}</span>
                      <span class="bx-icon pointer" (click)="add(item)">
                        <i class="bx bx-tada-hover bx-plus"></i>
                      </span>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="form-container ps-2">
            <span class="label">
              Objet
            </span>
            <input type="text" class="form-control">
          </div>

          <div class="form-group mt-2">
            <quill-editor
              class="content-editor w-100 bg-white"
              [placeholder]="'Écrire le message...'"
              [modules]="quillConfig"
              [styles]="{'min-height': '140px'}">
            </quill-editor>
          </div>

          <div class="files">
            <div class="file">
              <span class="name">
                Image du stade Japoma (256ko)
              </span>
              <div class="size">
                <button class="btn-close"></button>
              </div>
            </div>
            <div class="file">
              <span class="name">
                Image du stade Japoma (256ko)
              </span>
              <div class="size">
                <button class="btn-close"></button>
              </div>
            </div>
            <div class="file">
              <span class="name">
                Image du stade Japoma (256ko)
              </span>
              <div class="size">
                <button class="btn-close"></button>
              </div>
            </div>
            <div class="file">
              <span class="name">
                Image du stade Japoma (256ko)
              </span>
              <div class="size">
                <button class="btn-close"></button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="footer">
        <div class="left">
          <button class="btn btn-light">
            <i class="bx bx-tada-hover bx-file"></i>
            4 pieces jointes
          </button>
        </div>

        <div class="right">
          <button class="btn btn-primary" (click)="createMessage()">
            Envoyer
            <i class="bx bx-tada-hover bxs-send"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
