<div class="row py-4 ">
  <div class="note col-md-3 col-12 my-2 ps-4 "*ngFor="let a of [1,2,3,4,5,6,7,8,9]" >
    <div class="card  ms-1 " >
      <div class="card-body">
        <h4 class="text-primary" >Note du jour</h4>
        <div class="content">
          <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Vitae elementum curabitur vitae nunc
          sed. Velit scelerisque in dictum non consectetur a erat
          nam. Mi in nulla posuere sollicitudi aliquam ultrices
          sagittis. Vivamus arcu felis bibendum ut tristique.
          Consequat semper viverra nam libero justo. Lectus sit
          amet est placerat in egestas erat. Nulla facilisi cras
          fermentum odio eu feugiat. Volutpat odio facilisis
          mauris sit amet. Sem integer vitae justo get. Imperdiet
          sed euismod nisi porta lorem mollis aliquam ut.
        </p>
        </div>
      </div>
    </div>
    <div class="add-note d-flex justify-content-center position-relative my-1">
      <div class=" w-100 btn btn-primary">Nouvelle note</div>
      <span class="mdi mdi-plus-circle position-absolute position-absolute top-50 end-0 translate-middle-y pe-1 text-white "></span>
    </div>
     <div class="add-note d-flex justify-content-center position-relative">
      <div class=" w-100 btn btn-outline-primary">Historique</div>
      <span class="mdi mdi-chevron-right position-absolute position-absolute top-50 end-0 translate-middle-y pe-1 text-primary "></span>
    </div>
</div>
</div>
