<main class="main">
  <app-header></app-header>

  <section class="page-content">
    <div class="sidebar">
      <div class="side-item" [routerLink]="'/account/agenda'" routerLinkActive="active">
        <!-- <span class="icon">
          <i class="mdi mdi-calendar"></i>
        </span> -->
        <span class="text">Agenda</span>
      </div>
      <div class="side-item" [routerLink]="'/account/notes'" routerLinkActive="active">
        <!-- <span class="icon">
          <i class="mdi mdi-text-box-multiple"></i>
        </span> -->
        <span class="text">Notes</span>
      </div>
      <div class="side-item" [routerLink]="'/account/team'" routerLinkActive="active">
        <!-- <span class="icon">
          <i class="mdi mdi-account-circle"></i>
        </span> -->
        <span class="text">Team</span>
      </div>
      <div class="side-item" [routerLink]="'/account/patient-management'" routerLinkActive="active">
        <!-- <span class="icon">
          <i class="mdi mdi-human-male-female-child"></i>
        </span> -->
        <span class="text">Gestion patients</span>
      </div>
      <div class="side-item" [routerLink]="'/account/mail'" routerLinkActive="active">
        <!-- <span class="icon">
          <i class="mdi mdi-history"></i>
        </span> -->
        <span class="text">Email</span>
      </div>
      <div class="side-item" [routerLink]="'/account/activities'" routerLinkActive="active">
        <!-- <span class="icon">
          <i class="mdi mdi-security"></i>
        </span> -->
        <span class="text">Activité</span>
      </div>
    </div>

    <div class="content-wrap">
      <div class="next-page">
        <router-outlet></router-outlet>
      </div>
    </div>
  </section>

  <app-tabs></app-tabs>
</main>
