@import "/src/scss/bootstrap/config";

$sidebar-width: 250px;

.main {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: auto;
  display: flex;

  .page-content {
    flex: 1;

    .content {
      position: relative;

      .loader {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        color: $primary;
        background-color: #FFF;
        z-index: 10;

        .head {
          display: flex;
          align-items: center;
          font-size: 2.5rem;
          font-weight: 700;
          line-height: 2rem;

          .bx-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 1rem;

            .bx {
              font-size: 4.5rem;
              font-weight: 600;
            }
          }
        }

        .text {
          margin-top: 1rem;
          font-style: italic;
          font-size: 18px;
          font-weight: 500;
        }

        .spinner-border {
          width: 3rem;
          height: 3rem;
          margin-top: 1rem;
          border-width: .4rem;
        }
      }

      .content-side {
        width: 250px;
        height: 100%;
        display: flex;
        flex-direction: column;
        background-color: #FFF;
        position: relative;

        .header {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          height: 100px;
          padding: 1rem;
          overflow: hidden;
          background-color: #FFF;
          z-index: 1;

          .top {
            display: flex;
            align-items: flex-end;
            color: $primary;
            font-size: 18px;

            .bx-icon {
              display: flex;
              align-items: center;
              justify-content: center;
              margin-right: 1rem;

              .bx {
                font-size: 1.5rem;
              }
            }
          }

          .bottom {
            width: 100%;
            margin-top: 1rem;
          }
        }

        .body {
          padding: 1rem;
          padding-top: 100px;
          height: 100%;
          overflow-y: auto;

          .items {
            display: flex;
            flex-direction: column;

            .item-header {
              color: #BBB;
              font-weight: lighter;
              border-top: .12rem solid #DDD;
              padding-top: .5rem;
              margin-top: .5rem;
              margin-bottom: .5rem;
            }

            .item {
              background-color: $light;
              font-weight: 600;
              font-size: 14px;
              padding: .75rem .5rem;
              border-radius: 1px;
              margin: .12rem 0;
              cursor: pointer;
            }
            .has-submenu {

              .submenu {
                // display: none;
                height: 0;
                overflow: hidden;
                transition: height 0.3s ease-out;

                &>.item {
                  padding-left: 2rem;
                }
              }

              &>.item:first-child {
                position: relative;
                padding-left: 2rem;
                background-color: #EEE;

                &::before {
                  position: absolute;
                  left: .5rem;
                  // top: .6rem;
                  top: 50%;
                  transform: translateY(-50%);
                  font-family: boxicons;
                  content: "\ea50";
                  font-size: 22px;
                }
              }


              &.open {
                &>.item:first-child {
                  &::before {
                    content: "\ea4a";
                  }
                }

                .submenu {
                  // display: block;
                  height: auto;
                }
              }
            }
          }
        }
      }
    }

    .empty {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 600;
      font-size: 18px;
    }
  }
}

.page-content {
  // margin-top: 70px;
  padding: .5rem;
  padding-top: 90px;
  height: 100%;

  .sidebar {
    position: fixed;
    top: 70px;
    left: 0;
    bottom: 0;
    width: $sidebar-width !important;
    background-color: #E8F4F0;
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    z-index: 1000;

    .side-item {
      padding: .5rem 1rem;
      // border-bottom: 1px solid rgba($primary, .3);
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 20px;
      margin-bottom: .5rem;
      border: .125rem solid $primary;
      background-color: #FFF;

      .icon {
        margin-right: .25rem;

        i {
          font-size: 22px;
        }
      }

      .text {
        font-weight: 600;
        text-align: center;
      }

      &.active {
        background-color: $primary;
        color: #FFF;
      }
    }
  }

  .content-wrap {
    padding-left: $sidebar-width;
    height: 100%;


    .next-page {
      padding-top: .25rem;
      // padding-bottom: 50px;
      padding-bottom: 30px;
      height: 100%;
    }
  }
}

@media (max-width: 768px) {
  .sidebar {
    left: -$sidebar-width;

    &.open {
      left: 0;
    }
  }

  .content-wrap {
    padding-left: 0;

    .next-page {
      padding: 0 1rem 50px 1rem;
    }
  }
}
