<div class="py-5">
  <div class="card border-0 mx-auto shadow p-1" style="max-width: 500px;">
    <div class="card-body p-3" style=" z-index: 1; ">
      <button class="btn btn-sm- btn-outline-secondary mt-3" >Accès patient</button>

      <div class="mb-3 mt-3 me-3">
        <div class="d-inline-block position-relative fw-bolder h4 " style="height: 1.5rem; " > <span style=" z-index: 3; ">Nouveau mot de passe</span>
          <span class="d-inline-block  position-absolute w-100 h-50 top-100 start-50 translate-middle bg-primary" style=" z-index: -1; "></span>
        </div>
      </div>
      <div class=" d-flex  warning-message mb-3">
        <div class="icon-vector">
          <img src="assets/Vector.png" class="d-block w-100" alt="" srcset="">
        </div>
        <div class="ps-1">
          <p >Nous avons envoyé un code à l’adresse <span>johndoe@gmail.com</span></p>
        </div>
      </div>

      <div class="mb-3 position-relative">
        <!-- <label for="password" class="form-label">Password</label> -->
        <input [type]="fieldTextType1 ? 'text' : 'password'" class="form-control" id="password" placeholder="Nouveau mot de passe">
        <span class="mdi  position-absolute  top-50 start-100 translate-middle pe-5"
        [ngClass]="{
          'mdi-eye-off-outline': !fieldTextType1,
          'mdi-eye-outline ': fieldTextType1
        }"
        (click)="toggleFieldTextType1()"
        ></span>
      </div>
      <div class="mb-3 position-relative">
        <!-- <label for="password" class="form-label">Password</label> -->
        <input [type]="fieldTextType2 ? 'text' : 'password'" class="form-control" id="password" placeholder=" Confirmation du nouveau mot de passe">
        <span class="mdi  position-absolute  top-50 start-100 translate-middle pe-5"
        [ngClass]="{
          'mdi-eye-off-outline': !fieldTextType2,
          'mdi-eye-outline ': fieldTextType2
        }"
        (click)="toggleFieldTextType2()"
        ></span>
      </div>



      <div class="mt-3 w-100">
        <button class="btn btn-primary w-100">Poursuivre</button>
      </div>

    </div>
  </div>
</div>
