<h2 mat-dialog-title class="text-end">
  <!-- Titre -->

  <button mat-dialog-close class="btn btn-sm btn-light rounded-circle">
    <i class="mdi mdi-close"></i>
  </button>
</h2>

<mat-dialog-content class="mat-typography- mt-2-">
  <!-- <hr> -->
  <h5 class="fw-bold bottom-bar">À lire avant de prendre un rendez-vous</h5>

  <p class="mt-2">
    Motif de consultation : <br>
    <b>Première consultation de médecine générale</b>
  </p>
  <hr>
  <p>
    Étant patient vous pouvez aussi prendre rendez-vous pour l’un de vos proches
  </p>
  <div class="">
    <button mat-dialog-close="true" class="btn btn-secondary w-100">J’accepte</button>
    <button mat-dialog-close class="btn btn-outline-tertiary w-100 mt-3">Je refuse</button>
  </div>
</mat-dialog-content>
