<div class="py-5">
  <div class="card border-0 mx-auto shadow" style="max-width: 500px;">
    <div class="card-body px-4" style=" z-index: 1; ">
      <div class="d-flex justify-content-center align-items-center border mt-2" style="height: 1.5rem; width:1.5rem;">
        <a routerLink="/auth/login">
          <img src="assets/Path.png" alt="" class="h-auto w-50">
        </a>
      </div>
      <div class="d-flex justify-content-center align-items-center mt-4" style="height:6rem; width:6rem;">
        <img src="assets/lock.png" alt="" class="h-auto w-100 ">
      </div>

      <button class="btn btn-sm- btn-outline-secondary mt-4">Accès praticien</button>

      <div class="mb-3 mt-3 me-3">
        <div class="d-inline-block position-relative fw-bolder h4 " style="height: 1.5rem; "> <span
            style=" z-index: 3; ">Mot de passe oublié?</span>
          <span class="d-inline-block  position-absolute w-100 h-50 top-100 start-50 translate-middle bg-primary"
            style=" z-index: -1; "></span>
        </div>
      </div>

      <div class=" d-flex  warning-message mb-3">
        <ul class="list-inline">
          <li class="d-flex align-items-center list-inline-item"> <span class="bg-dark d-block rounded-circle "
              style="height: 0.2rem; width: 0.2rem;"></span> <span class="d-block ps-1">Entrez l’adresse e-mail associée
              à votre compte ci-dessous.</span> </li>
          <li class="d-flex align-items-center"> <span class="bg-dark d-block rounded-circle mb-4 mb-sm-0 "
              style="height: 0.2rem; width: 0.2rem;"></span> <span class="d-block ps-1"> Vous allez recevoir un email,
              cliquez sur le lien pour choisir un nouveau mot de passe. </span> </li>
          <li class="d-flex align-items-center"> <span class="bg-dark d-block rounded-circle align-self-center mb-4"
              style="height: 0.2rem; width: 0.2rem;"></span> <span class="d-block ps-1">Après la validation de votre
              nouveau mot de passe, vous serez de nouveau connecté à votre compte. </span> </li>
          <!-- <li class="d-flex align-items-center"> <span class="bg-dark d-block rounded-circle " style="height: 0.2rem; width: 0.2rem; padding-bottom: 0 !important;"></span> <span class="d-block ps-1">are unaffected by this style</span> </li> -->
        </ul>
      </div>
      <div class="mb-3">
        <input type="email" class="form-control" id="email" placeholder="Email">
      </div>
      <div class="mt-3">
        <button class="btn btn-primary w-100" routerLink="/auth/mail-confirm">Modifier mot de passe</button>
      </div>

    </div>
  </div>
</div>