// @import "/src/scss/bootstrap/config";

.bottom-bar {
  position: relative;
  // border-bottom: 1px solid $primary;
  display: inline-block;

  &::after {
    position: absolute;
    height: 6px;
    left: 0;
    right: 0;
    bottom: -1px;
    background-color: rgba($primary, .7);
    content: "";
    // z-index: -1;
  }
}

.card {
  border-radius: 20px;
  overflow: hidden;
}

.mat-dialog-container {
  border-radius: 20px !important;
}
.no-bg {
  .mat-dialog-container {
    background: transparent !important;
    box-shadow: none !important;
  }
}

h1 {
  &.page-title {
    font-size: 24px;
    font-weight: 700;
  }
}

h2 {
  font-size: 18px;
}

.text-line-1, .text-line-2, .text-line-3 {
  overflow: hidden;
  line-height: 1em;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.text-line-1 {
  height: 1em;
  -webkit-line-clamp: 1;
}
.text-line-2 {
  height: 2em;
  -webkit-line-clamp: 2;
}
.text-line-3 {
  height: 3em;
  -webkit-line-clamp: 3;
}

.fc-theme-bootstrap5 a:not([href]) {
  color: $primary !important;
  text-transform: capitalize !important;
  // font-weight: 600;
}
.fc .fc-timegrid-axis-cushion, .fc .fc-timegrid-slot-label-cushion {
  color: $primary !important;
  font-weight: 500;
}
.fc-v-event .fc-event-main {
  color: #000;
}
.fc .fc-toolbar-title {
  color: $primary !important;
  text-transform: capitalize !important;
}
.fc-v-event .fc-event-title-container {
  align-items: center;
}

@each $color, $value in $theme-colors {
  .th-#{$color} {
    border: none !important;
    background-color: $value !important;
    padding: .125rem;

    @if $color == "light" {
      color: #000 !important;
    } @else {
      color: #FFF !important;
    }
  }

  .tb-#{$color} {
    border: none !important;
    border-left: 8px solid $value !important;
    background-color: $light !important;
    color: #000 !important;
    padding: .125rem;

    & * {
      color: #000 !important;
    }
  }
}

.mat-calendar-header {
  color: $primary !important;
}

// .mat-calendar-table-header, .mat-calendar-body-label {
// }
.mat-calendar-table-header th {
  color: $primary;
}
.mat-calendar-body-today:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical), .mat-calendar-body-selected {
  background-color: $primary;
  border-color: $primary;
  color: #FFF;
}
.mat-calendar-body-cell-container {

  // button:not(:disabled), [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled) {
  //   background-color: $primary;
  //   color: #FFF;
  // }
}
