
.bottom-bar {
  position: relative;
  // border-bottom: 1px solid $primary;
  display: inline-block;

  &::after {
    position: absolute;
    height: 6px;
    left: 0;
    right: 0;
    bottom: -1px;
    background-color: rgba($primary, .7);
    content: "";
    // z-index: -1;
  }
}

.card {
  border-radius: 20px;
  overflow: hidden;
}

.mat-dialog-container {
  border-radius: 20px !important;
}
.no-bg {
  .mat-dialog-container {
    background: transparent !important;
    box-shadow: none !important;
  }
}

h1 {
  &.page-title {
    font-size: 24px;
    font-weight: 700;
  }
}

h2 {
  font-size: 18px;
}

.text-line-1, .text-line-2, .text-line-3 {
  overflow: hidden;
  line-height: 1em;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.text-line-1 {
  height: 1em;
  -webkit-line-clamp: 1;
}
.text-line-2 {
  height: 2em;
  -webkit-line-clamp: 2;
}
.text-line-3 {
  height: 3em;
  -webkit-line-clamp: 3;
}
